a {
    color: #017175;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 20px;
}

body {
    background-color: #eeeeee;
    color: #222831;
    font-family: 'Merriweather', serif;
    margin: 0px;
    text-align: center;
}

div {
    margin: 0px;
}

h1 {
    color: #00adb5;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

h2 {
    color: #00adb5;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #00adb5;
    font-family: 'Montserrat', sans-serif;
}

/*Classes*/

.botton-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.bottom-container {
    background-color: #00adb5;
    line-height: 2;
    padding: 40px 40px 20px 40px;
}

.btn {
    background: #00ADB5;
    background-image: -webkit-linear-gradient(top, #00ADB5, #017175);
    background-image: -moz-linear-gradient(top, #00ADB5, #017175);
    background-image: -ms-linear-gradient(top, #00ADB5, #017175);
    background-image: -o-linear-gradient(top, #00ADB5, #017175);
    background-image: -webkit-gradient(to bottom, #00ADB5, #017175);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 20px;
 }
 
 .btn:hover {
    background: #017175;
    background-image: -webkit-linear-gradient(top, #017175, #00ADB5);
    background-image: -moz-linear-gradient(top, #017175, #00ADB5);
    background-image: -ms-linear-gradient(top, #017175, #00ADB5);
    background-image: -o-linear-gradient(top, #017175, #00ADB5);
    background-image: -webkit-gradient(to bottom, #017175, #00ADB5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .copyright {
     color: #eeeeee;
 }

.drawing-image {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.intro {
    margin: auto;
    width: 30%;
}

.linebreak {
    border-style: dotted none none none;
    border-width: 10px;
    color: #c7c7c7;
    display: inline-block;
    margin: 100px;
    width: 5%;
}

.middle-container {
    padding: 100px 0;
}

.programming-image {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.skill-row {
    line-height: 2;
    margin: 100px auto 50px auto;
    text-align: left;
    width: 50%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-container {
    padding-top: 100px;
}

/*Ids*/
#subtitle {
    font-weight: normal;
}


